{% extends 'base.html' %}

{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to About Us Section this is e-commerce project created by Paras Dattera using django , bootstrap</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">                <br><br><br>

                <p align="jusify">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porttitor bibendum enim, sed rutrum nulla varius id. Vestibulum sed maximus velit. Proin ultricies elit lacus, sit amet porttitor tellus fringilla vitae. Etiam at sapien a tellus molestie facilisis a non dolor. Donec molestie lobortis eros, eget consequat tellus rutrum a. Quisque sed luctus eros. Vivamus tellus quam, finibus in commodo sed, feugiat vel nibh.
                <br><br><br>

                Donec quis erat quis dolor blandit vestibulum sit amet in magna. Donec a suscipit nibh, ac tristique odio. Vivamus consectetur vehicula dignissim. Proin at orci sapien. Maecenas vestibulum dolor est, sit amet finibus enim pretium eget. Nam dignissim faucibus dolor, eget ultricies turpis hendrerit eget. Nulla accumsan enim turpis, ac faucibus leo suscipit quis. Aliquam erat volutpat. Etiam tincidunt ex id sem mattis aliquam. Nunc eleifend molestie justo gravida accumsan.
                <br><br><br>

                Pellentesque congue ligula at molestie aliquet. Fusce dapibus venenatis consequat. Nam hendrerit consectetur viverra. In luctus lectus ac elit pellentesque, in tempor ligula vulputate. Ut auctor nec mauris eu sodales. Fusce eget diam fringilla, aliquam nibh vel, euismod nisi. Aliquam urna quam, porta non erat lacinia, rhoncus interdum ante. Fusce ac odio bibendum, placerat dui ultrices, viverra lacus. Vivamus blandit, mi sit amet scelerisque efficitur, quam odio porta dui, vel ultricies arcu urna id eros. Nulla vitae commodo nulla. Nulla facilisi. Aenean varius nibh diam, et lobortis lectus porta id. Aliquam ullamcorper lectus nec tellus pharetra pharetra. Maecenas orci magna, rutrum et nunc a, tincidunt cursus sapien. Pellentesque commodo dictum velit, vitae maximus risus porta eget.
                <br><br><br>

            </p>
            </div>
        </center>
    </div>
</div>


{% endblock %}